<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>FinalProject_FoodWasteSaver</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet-URL</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ConsumerServlet</servlet-name>
        <servlet-class>Servlet.ConsumerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ConsumerServlet</servlet-name>
        <url-pattern>/ConsumerServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddNewItemServlet</servlet-name>
        <servlet-class>Servlet.AddNewItemServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddNewItemServlet</servlet-name>
        <url-pattern>/AddNewItemServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ClaimFoodServlet</servlet-name>
        <servlet-class>Servlet.ClaimFoodServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ClaimFoodServlet</servlet-name>
        <url-pattern>/ClaimFoodServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RedirectNotificationServlet</servlet-name>
        <servlet-class>Servlet.RedirectNotificationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RedirectNotificationServlet</servlet-name>
        <url-pattern>/RedirectNotificationServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditNotificationServlet</servlet-name>
        <servlet-class>Servlet.EditNotificationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EditNotificationServlet</servlet-name>
        <url-pattern>/EditNotificationServlet</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>redirectEditItemServlet</servlet-name>
        <servlet-class>Servlet.redirectEditItemServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>redirectEditItemServlet</servlet-name>
        <url-pattern>/redirectEditItemServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EditNotificationServlet</servlet-name>
        <url-pattern>/EditNotificationServlet</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>SubscriptionServlet</servlet-name>
        <servlet-class>Servlet.SubscriptionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SubscriptionServlet</servlet-name>
        <url-pattern>/SubscriptionServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
